{% extends 'PardalisWaSUnitBundle::base.html.twig' %}

{% block body %}
    <h1>Run imports</h1>
    <p>Run them only once! Or you'll have to start over...</p>
    <ul class="import-list">
        <li><a href="/importSets">Import Sets</a></li>
        <li><a href="/importRarities">Import Rarities</a></li>
        <li><a href="/importAlliances">Import Alliances and Nations</a></li>
        <li><a href="/importUnitTypes">Import Unit Types</a></li>
        <li><a href="/importAttackTypes">Import Attack Types</a></li>
        <li><a href="/importAbilities">Import Abilities</a></li>
        <li><a href="/importUnits">Import Units</a></li>
    </ul>
{% endblock %}